<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span4 offset4 addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_twitter"></a>
				<a class="addthis_button_facebook"></a>
				<a class="addthis_button_google_plusone_badge" g:plusone:size="medium" g:plusone:name="AddThis" g:plusone:href="https://plus.google.com/102383601500147943541/"></a>
				<a class="addthis_button_tumblr"></a>
				<a class="addthis_button_email"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f91e0015320470e"></script>
		</div>
	</div>
</div>